@model UserForm.Models.DBModels.Forms.UserForms

@{
    ViewBag.Title = "Edit Form";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="jumbotron text-center bg-light">
        <h1 class="display-4">Welcome to the User Form App!</h1>
        <p class="lead">Easily create, edit, and manage user forms with a simple interface.</p>
        <hr class="my-4">
        <p>Get started by creating a new form or editing an existing one.</p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Create", "Home")" role="button">Create New Form</a>
        <a class="btn btn-secondary btn-lg" href="@Url.Action("Index", "Home")" role="button">View Forms</a>
    </div>
</div>